src/main/resources/address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/address" xmlns:tns="http://www.example.org/address" elementFormDefault="qualified">

    <complexType name="Address">
    	<sequence>
    		<element name="AddressLine" type="string"></element>
    		<element name="City" type="string"></element>
    		<element name="State" type="string"></element>
    		<element name="Country" type="string"></element>
    		<element name="Zip" type="int"></element>
    	</sequence>
    </complexType>
</schema>